127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ master_ip }} k8master
{{ node1_ip }}   node1
{{ node2_ip }}   node2
